[submodule "external/pcg-cpp"]
	path = external/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
[submodule "external/parallel-hashmap"]
	path = external/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
